NEXT_PUBLIC_SUPABASE_URL=https://fywgzulfvchtkbxkbkob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5d2d6dWxmdmNodGtieGtia29iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NTIwMTUsImV4cCI6MjA5OTAyODAxNX0.w80-hUIzQ9VHLazGGQ16oZEnliY7lharM8rNWmlvgvI
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=13012567848
NEXT_PUBLIC_SITE_URL=https://tracyskitchen.netlify.app
